/* 
 * Responsive design.
 */
@media (max-width: 725px) {
	.container, .container-lt, .container-seamless, .category {
		float: none !important;
		width: auto !important;
		right: 0 !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}